
@{
    ViewData["Title"] = "Medical Shop Admin";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewData["Title"]</h3>
            </div>
            @*<div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 col-sm-6 " hidden>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Data Products</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="padding-left:50px">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="pieChartjs" style="height: 350px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Data Products</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="padding-left:50px">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="echartPie" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Data Products</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="padding-left:50px">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="echartLine" style="height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <script src="~/vendors/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/build/js/custom.min.js"></script>
    <script>
        $(function () {
            Pie();
        });

        function Pie() {
            $.ajax({
                url: "/Admin/PieChartJS",
                type: "GET",
                success: function (result) {
                    var pieChartCanvas = $('#pieChartjs').get(0).getContext('2d')
                    var pieData = result.data;
                    debugger
                    var pieOption = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    var pieChart = new Chart(pieChartCanvas, {
                        type: 'pie',
                        data: pieData,
                        options: pieOption
                    })
                }
            })
        }

        var e = {
            color: ["#26B99A", "#34495E", "#BDC3C7", "#3498DB", "#9B59B6", "#8abb6f", "#759c6a", "#bfd3b7"],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: "normal",
                    color: "#408829"
                }
            },
            dataRange: {
                color: ["#1f610a", "#97b58d"]
            },
            toolbox: {
                color: ["#408829", "#408829", "#408829", "#408829"]
            },
            tooltip: {
                backgroundColor: "rgba(0,0,0,0.5)",
                axisPointer: {
                    type: "line",
                    lineStyle: {
                        color: "#408829",
                        type: "dashed"
                    },
                    crossStyle: {
                        color: "#408829"
                    },
                    shadowStyle: {
                        color: "rgba(200,200,200,0.3)"
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: "#eee",
                fillerColor: "rgba(64,136,41,0.2)",
                handleColor: "#408829"
            },
            grid: {
                borderWidth: 0
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: "#408829"
                    }
                },
                splitArea: {
                    show: !0,
                    areaStyle: {
                        color: ["rgba(250,250,250,0.1)", "rgba(200,200,200,0.1)"]
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ["#eee"]
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: "#408829"
                },
                controlStyle: {
                    normal: {
                        color: "#408829"
                    },
                    emphasis: {
                        color: "#408829"
                    }
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: "#68a54a",
                        color0: "#a9cba2",
                        lineStyle: {
                            width: 1,
                            color: "#408829",
                            color0: "#86b379"
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: "#ddd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: "#99d2dd"
                        },
                        label: {
                            textStyle: {
                                color: "#c12e34"
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: "#408829"
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: "rgba(128, 128, 128, 0.5)"
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: "rgba(128, 128, 128, 0.5)"
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: !0,
                    lineStyle: {
                        color: [
                            [.2, "#86b379"],
                            [.8, "#68a54a"],
                            [1, "#408829"]
                        ],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: "auto"
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "auto"
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: "auto"
                    }
                },
                pointer: {
                    length: "90%",
                    color: "auto"
                },
                title: {
                    textStyle: {
                        color: "#333"
                    }
                },
                detail: {
                    textStyle: {
                        color: "auto"
                    }
                }
            },
            textStyle: {
                fontFamily: "Arial, Verdana, sans-serif"
            }
        };

        $.ajax({
            url: "/Admin/EChartPie",
            type: "GET",
            success: function (result) {
                debugger
                echarts.init(document.getElementById("echartPie"), e).setOption({
                    tooltip: {
                        trigger: "item",
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        x: "center",
                        y: "bottom",
                        data: result.legend
                    },
                    toolbox: {
                        show: !0,
                        feature: {
                            magicType: {
                                show: !0,
                                type: ["pie", "funnel"],
                                option: {
                                    funnel: {
                                        x: "25%",
                                        width: "50%",
                                        funnelAlign: "left",
                                        max: 1548
                                    }
                                }
                            },
                            restore: {
                                show: !0,
                                title: "Restore"
                            },
                            saveAsImage: {
                                show: !0,
                                title: "Save Image"
                            }
                        }
                    },
                    calculable: !0,
                    series: [{
                        name: "Stock",
                        type: "pie",
                        radius: "55%",
                        center: ["50%", "45%"],
                        data: result.data
                    }]
                });
                var a = {
                    normal: {
                        label: {
                            show: !1
                        },
                        labelLine: {
                            show: !1
                        }
                    }
                },
                    t = {
                        normal: {
                            color: "rgba(0,0,0,0)",
                            label: {
                                show: !1
                            },
                            labelLine: {
                                show: !1
                            }
                        },
                        emphasis: {
                            color: "rgba(0,0,0,0)"
                        }
                    }

            }
        })
        $.ajax({
            url: "/Admin/EChartLine",
            type: "GET",
            success: function (result) {
                debugger
                var myChart = echarts.init(document.getElementById('echartLine'));
                var option = {
                    title: {
                        text: 'ECharts entry example'
                    },
                    tooltip: {},
                    legend: {
                        data: ['Sales']
                    },
                    xAxis: {
                        data: result.valueX
                    },
                    yAxis: {},
                    series: [{
                        name: 'Sales',
                        type: 'bar',
                        data: result.valueY
                    }]
                };
                myChart.setOption(option);
            }
        })
        
    </script>
}