
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reset Password</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Change Password</h1>
                        <label id="uId" hidden>@ViewBag.UserId</label>
                        <div>
                            <input id="pwd" type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <input id="confirmpwd" type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-primary submit" href="" onclick="Check()">Reset Password</a>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        function Check() {
            if ($("#pwd").val().trim() == "" || $("#confirmpwd").val().trim() == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Fill empty field'
                })
            }
            else if ($("#pwd").val() != $("#confirmpwd").val()) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Password is not Match'
                })
            }
            else {
                debugger
                ChangePwd($("#uId").text(), $("#pwd").val());
            }
        }

        function ChangePwd(id, pwd) {
            debugger;
            $.ajax({
                "url": "/Users/ForgetPassword/",
                "dataType": "json",
                "data": { id: id, password: pwd }
            }).then((result) => {
                debugger
                if (result.statusCode == 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Your password has been changed',
                        text: 'Success!'
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Your password is not changed',
                        text: 'Failed!'
                    })
                }
            })
        }        
    </script>
</body>
</html>

